<head>
<script language="JavaScript" src="fmove10.js" type=text/javascript></script>
<script language="JavaScript">
function load() {
  // fmObject[0].x == 200 and now we will change it (the left attribute)
  alert("The first value of fmObject[0].x is " + fmObject[0].x);   fmObject[0].x = 400;
  alert("Now the value of fmObject[0].x is " + fmObject[0].x + " but the value of the object's left attribute is not changed. ");
  // And we'll display all objects with the new position
  fmLoadObjects();
  alert("Now it's changed!:)"); }
</script>
</head>

<body onload="load()">
<img src="myimage.gif" id="id_img" style="position:absolute; top:100px; left:200px; z-index:0" onload="fmObject[0] = new addFMObject('id_img')">
</body>