<head>
<script language="JavaScript" src="fmove10.js" type=text/javascript></script>
<script language="JavaScript">
function load()
{
 // You can also add the objects to the fmObject array here and it's recommended to do it here
 fmObject[0] = new addFMObject('id_img');
}
</script>
</head>

<body onmousemove="fmMoveObject()" onload="load()">
<img src="myimage.gif" id="id_img" style="position:absolute; top:100px; left:200px; z-index:0" 
onmousedown="fmMouseDown(fmObject[0])" onmouseup="fmMouseUp(fmObject[0])" onmousemove="return false;">
</body>