<head>
<script language="JavaScript" src="fmove10.js" type=text/javascript></script>
<script language="JavaScript">
function load()
{
 // Here you can also add the objects to the fmObject array and it's recommended to do it here
 fmObject[0] = new addFMObject('id_tab');
}
</script>
</head>

<body onmousemove="fmMoveObject()" onload="load()">

<table id="id_tab" width=300 height=80 border=1 cellSpacing=0 cellPadding=0 style="position:absolute; top:100px; left:50px; z-index:0">
 <tr>
   <td>Row 1, Column 1</td>
   <td bgcolor="NAVY" onmousedown="fmMouseDown(fmObject[0])" onmouseup="fmMouseUp(fmObject[0])">
       <font color="#FFCC00"><b>This is the 'hot' cell! :)</b></font>
   </td>
 <tr>
 <tr>
   <td>Row 2, Column 1</td>
   <td>Row 2, Column 2</td>
 <tr>
</table>

</body>