.MN_TEXT {font-family: verdana, arial; font-size: 10pt; color:black; text-align: justify; margin-left: 40px; margin-right:40px; margin-bottom:50px; margin-top:30px}
.TIT {font-family: arial, verdana; font-size: 12pt; font-weight: bold; color: #FFCC00; margin-left: 30px}
P {text-indent:20px}