<head>
<script language="JavaScript" src="fmove10.js" type=text/javascript></script>
<script language="JavaScript">
function load()
{
 // Here you can also add the objects to the fmObject array and it's recommended to do it here
 fmObject[0] = new addFMObject('id_tab1');
 fmObject[1] = new addFMObject2v(2, 'id_tab2');
 fmObject[2] = new addFMObject4v(20, 20, 1, 'id_tab3');
}
function loadZ()
{
 id_tc1.innerText = fmObject[0].z;
 id_tc2.innerText = fmObject[1].z;
 id_tc3.innerText = fmObject[2].z;
}
</script>
</head>

<body onmousemove="fmMoveObject()" onload="load()">

<table id="id_tab1" border=1 bgcolor="white" cellSpacing=0 cellPadding=0 style="position:absolute; top:30px; left:50px; z-index:0" onmousedown="fmSetOActive(fmObject[0]); loadZ()">
 <tr>
   <td id="id_tc1">Row 1, Column 1</td>
   <td bgcolor="NAVY" onmousedown="fmMouseDown(fmObject[0])" onmouseup="fmMouseUp(fmObject[0])">
       <font color="#FFCC00"><b>This is the 'hot' cell! :)</b></font>
   </td>
 <tr>
 <tr>
   <td>Row 2, Column 1</td>
   <td>Row 2, Column 2</td>
 <tr>
</table>

<table id="id_tab2" bgcolor="WHITESMOKE" border=1 borderColor=black cellSpacing=0 cellPadding=0 style="position:absolute; top:100px; left:50px;" onmousedown="fmSetOActive(fmObject[1]); loadZ()">
 <tr>
   <td id="id_tc2" onmousedown="fmMouseDown(fmObject[1])" onmouseup="fmMouseUp(fmObject[1])">
     You can move this table only here!
   </td>
 </tr>
</table>

<table id="id_tab3" border=1 borderColor="MAROON" bgColor="white" onmousedown="fmSetOActive(fmObject[2]); loadZ()">
 <tr><td id="id_tc3" colspan=2 align="center">cell 1</td></tr>
 <tr><td colspan=2 bgcolor="MAROON" align="center" onmousedown="fmMouseDown(fmObject[2])" onmouseup="fmMouseUp(fmObject[2])"><font color="#FFCC00"><b>Move It!</b></font></td></tr>
 <tr><td colspan=2 align="center">cell 3</td></tr>
 <tr>
   <td bgcolor="MAROON" align="center"><font color="#FFCC00" onmousedown="fmMouseDown(fmObject[2])" onmouseup="fmMouseUp(fmObject[2])"><b>Move It!</b></font></td>
   <td>cell 5</td>
 </tr>
 <tr><td colspan=2 align="center">cell 6</td></tr>
</table>

</body>