.PART1 {width:140px}
.PART2 {width:440px}
.PART3 {width:100px}
.PART4 {height:15px}
.TABS {width:420px; font-family: verdana, arial; font-size:8pt; color: black; margin-left:40px; margin-top:40px}
.LINK {cursor:hand; text-decoration:none; color:peru}
.MENU_SEC {font-family: MS Sans Serif, Arial, Helvetica, Sans-Serif; font-size:10pt; FONT-WEIGHT: narmal; COLOR: maroon; CURSOR: hand}
.SUBMENU_SEC {font-family: MS Sans Serif, Arial, Helvetica, Sans-Serif; font-size:10pt; FONT-WEIGHT: narmal; COLOR: BROWN; HEIGHT: 20px; WIDTH:100%; MARGIN-LEFT:5px}
.SUBMENU_2 {position:absolute; top:200px; left:135px; WIDTH: 125px; BACKGROUND-COLOR: WHITE; BORDER: solid WHEAT 2px; FILTER: alpha(opacity=90, finishopacity=90, style=1); DISPLAY: none; CURSOR: hand}
.SUBMENU_4 {position:absolute; top:236px; left:135px; WIDTH: 180px; BACKGROUND-COLOR: WHITE; BORDER: solid WHEAT 2px; FILTER: alpha(opacity=90, finishopacity=90, style=1); DISPLAY: none; CURSOR: hand}

.GAL_MENU {font-family:verdana, arial; font-size:8pt; color: firebrick}